@import 'tailwindcss';

body {
  /* font-family: 'Mulish', sans-serif; */
  font-family: 'lato', sans-serif, Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  @apply bg-gray-50 text-gray-800;
}

h1 {
  @apply font-extrabold not-italic text-xl text-lime-800;
}

.title {
  @apply tracking-wide text-2xl;
}

h2 {
  @apply text-xl font-bold;
}

/* Header Section */

.Header ul li {
  @apply text-lg font-semibold hover:text-teal-600;
}

.Header ul li a.active {
  @apply text-teal-600;
}

@import 'tailwindcss';

/* Tables Initial Style  */
table {
  @apply w-full min-w-full table-auto;
}

table thead {
  @apply bg-blue-50 text-blue-800;
}

table thead th {
  @apply text-center py-4 px-2 border-b-2 border-blue-200 font-bold first:rounded-tl-xl last:rounded-tr-xl whitespace-nowrap text-sm;
}

table tbody td {
  @apply text-center py-2.5 px-2 border-b border-blue-100 text-blue-900 whitespace-nowrap text-sm;
}

table tbody tr:hover td {
  @apply text-black bg-blue-50/50;
}

/* Form Initial Style */
form {
  @apply max-w-md mx-auto;
}

form .form-control {
  @apply flex flex-col gap-1.5 pt-3;
}

form label {
  @apply font-semibold px-1;
}

form input {
  @apply border border-gray-300 px-3 py-2 rounded-lg bg-white opacity-60 text-black;
}
form select {
  @apply border border-gray-300 px-3 py-2 rounded-lg bg-white opacity-60 text-black;
}

form textarea {
  @apply flex-1 border border-gray-300 p-2 rounded-lg bg-white opacity-60 text-black;
}

/* Buttons Style */
.btn {
  @apply py-2.5 px-4 rounded-lg  cursor-pointer border-2 font-semibold duration-300;
}

.btn-primary {
  @apply border-lime-800 text-white bg-teal-900  hover:bg-teal-600 hover:border-teal-600;
}

.btn-primary-fill {
  @apply bg-teal-600 border-teal-600 text-white hover:bg-teal-600/80;
}

.btn-secondary {
  @apply border-gray-400 bg-gray-400 opacity-80 text-gray-800 hover:text-white hover:bg-gray-600 hover:border-gray-600;
}

.btn-comment {
  @apply border-orange-600 bg-orange-600 text-white hover:border-orange-500 hover:bg-orange-500;
}

.btn-disabled {
  @apply border-gray-400 bg-gray-400 opacity-50 text-gray-800;
}

/* card Style*/
.card {
  /* @apply border-2 border-teal-600 rounded-lg shadow-xl p-5 text-center my-5 mx-auto; */
  @apply border-2 border-amber-300 shadow-2xl rounded-lg shadow-xl p-5 my-5 mx-auto;
}
